.other-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100vw;
	min-height: 50rem;
	overflow: hidden;
	background-attachment: fixed;
}

.other-header-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	place-items: center;
}

.header-container-bg {
	position: absolute;
	width: 100%;
}

.header-container-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(175, 70%, 41%, 0.633);
	pointer-events: none;
}
.header-container-bg img {
	object-fit: cover;
	object-position: center;
}

.header-content {
	position: relative;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.header-content h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.header-content p {
	font-size: 1.3rem;
	margin-top: 1.5rem;
}
